p{
    font-size: 1.25rem;
}

.message{
    color: red;
}

.continue{
    margin-top: 150px;
}

.alert{
    padding-top: 100px;
    color: red;
}

.formDiv {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startDiv {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning{
    margin-top: 10%;
}