p{
    font-size: 1em;
}

.message{
    color: red;
}

.continue{
    margin-top: 150px;
}

.alert{
    padding-top: 100px;
    color: red;
}

h2{
    margin-bottom: 100px;
}

h1{
    margin-bottom: 100px;
}